.font-design {

}

.font-design-body {
	font-family: 'Open Sans', sans-serif;
	color: #707070;
}

.font-design-heading {
	font-family: 'Montserrat', sans-serif;
	color: #011627;
	line-height: 1.45;
}

.color-design {
	list-style: none;
	margin: 0;
	padding: 0;
}

.color-design li {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.color-design li span {
	font-size: 14px;
	font-weight: 500;

}

.color-design li div {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.color-design li div em {
	font-style: normal;
	background-color: rgba(255,255,255,.6);
}

.color-design li.c-body div {
	background-color: #707070;
}

.color-design li.c-primary div {
	background-color: #E71D36;
}

.color-design li.c-heading div {
	background-color: #011627;
}

.color-design li.c-secondary div {
	background-color: #77AF41;
}

.color-design li.c-border div {
	background-color: #d2cfcf;
}