#{$all-buttons} {
	border: 0;
	padding: 10px 20px;
}

#{$all-buttons-focus} {
	outline: none;
}

button {
	cursor: pointer;
}

.btn {
	display: inline-block;
	height: 42px;
	line-height: 42px;

	font-family: $font-heading;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .5px;
	color: #fff;
	background-color: $color-primary;
	border-radius: 25px;
	padding: 0 35px;
	
	transition: all .3s ease;

	&:hover,
	&:focus {
		color: #fff;
	}

	&:hover,
	&.hover {
		background-color: $color-secondary;
		text-decoration: none;
	}
}

.btn--secondary {
	background-color: $color-secondary;

	&:hover,
	&.hover {
		background-color: $color-primary;
	}
}

.btn--light {
	background-color: #fff;
	color: $color-primary;

	&:hover {
		background-color: $color-secondary;
	}
}

.btn--outline {
	border: 1px solid $color-primary;
	background-color: transparent;
	color: $color-primary;

	&:focus {
		color: $color-primary;
	}

	&:hover,
	&.hover {
		background-color: $color-primary;
		color: #fff;
	}
}

.btn--outline-secondary {
	border: 1px solid $color-secondary;
	background-color: transparent;
	color: $color-secondary;

	&:hover,&.hover {
		background-color: $color-secondary;
		color: #fff;
	}
}

.btn--sm {
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	border-radius: 20px;
	padding: 0 20px;

	&.btn--outline {
		line-height: 33px;
	}
}

.btn--block {
	display: block;
	width: 100%;
	text-align: center;
}

.btn-add-to-cart {
	position: relative;
	overflow: hidden;

	span {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		border-radius: 25px;
	}

	span {
		i {
			margin-right: 5px;
		}

		span {
			transform: translateY(0);
			opacity: 0;

			i {
				margin-right: 0;
			}
		}
	}

	> span {
		opacity: 0;
		visibility: hidden;
	}

	&:not(.btn--secondary) {
		span {
			background-color: $color-secondary;
		}
	}

	&.added {
		pointer-events: none;

		> span {
			opacity: 1;
			visibility: visible;
			transition: all .4s ease;

			> span {
				animation: efffectAddToCart .3s forwards;
				animation-delay: .7s;
			}
		}
	}

	&.btn--secondary {
		span {
			background-color: $color-secondary;
		}
	}
}

@keyframes efffectAddToCart {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.btn-link {
	display: inline-block;
	position: relative;
	font-family: $font-heading;
	font-size: 12px;
	font-weight: 600;
	color: $color-primary;
	
	i {
		margin-left: 4px;
		transition: all .3s ease;
	}

	&:hover i {
		transform: translateX(5px);
	}
}

.btn-padding {
	padding-top: 40px;
}

@include media-breakpoint-up(md) {
	.btn {
		height: 50px;
		line-height: 50px;
		font-size: 15px;
		padding: 0 50px;
	}

	.btn--sm {
		height: 40px;
		line-height: 40px;
		font-size: 13px;
		padding: 0 30px;

		&.btn--outline {
			line-height: 38px;
		}
	}

	.btn-link {
		font-size: 14px;
	}
}