::selection {
  background: $color-primary;
  color: #fff !important;
  -webkit-text-fill-color: #fff;
}

::-moz-selection {
  background: $color-primary;
  color: #fff;
}

img::selection {
  background: transparent
}

img::-moz-selection {
  background: transparent
}
