.nav-page-exam {
	@include list-style;
	display: flex;
	margin: 0 auto 40px;

	li {
		width: 100%;
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		margin: 0 auto;
		text-align: center;
		background-color: #fff;

		img {
			max-width: 40px;
		}

		p {
			font-family: $font-heading;
			font-size: 12px;
			font-weight: bold;
			line-height: 1;
			color: $color-heading;
			margin: 0;
			margin-top: 8px;
		}

		&.current,
		&:hover {
			border-radius: 6px;
    		box-shadow: 0 0 6px 6px rgba(150,150,150,.1), 0 6px 20px 0 rgba(150,150,150,.1);
		}
	}

	@include media-breakpoint-up(md) {
		max-width: 75%;
		margin-bottom: 70px;

		a {
			width: 130px;
			height: 130px;

			img {
				max-width: 50px;
			}

			p {
				font-size: 14px;
				margin-top: 10px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		max-width: 70%;

		a {
			width: 150px;
			height: 150px;

			img {
				max-width: 70px;
			}
		}
	}
}

.exam-filter {
	background-color: $color-gray;
	border-radius: 6px;
	padding: 15px;
	padding-bottom: 30px;
	margin-bottom: 20px;

	@include media-breakpoint-down(sm) {
		.input-item {
			margin-bottom: 15px;
		}

		.form-control {
			font-size: 12px;
			line-height: 38px;
		}

		select.form-control {
			height: 40px;
			background-size: 7px;

			option {
				font-size: 12px;
			}
		}
	}
}

.exam-alert {
    border: 1px dashed #CCC;
    text-align: center;
    color: $color-heading;
    padding: 20px;
    margin-bottom: 20px;

    p {
    	margin-bottom: 0;
    }
}

.table-chooseTheTest {
	table {
		width: 100%;
		font-size: 15px;
		color: $color-heading;
		text-align: center;

		thead {
			th {
				padding: 20px 10px;

				&:nth-child(1) {
					text-align: left;
				}

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4), {
					width: 120px;
				}

				&:nth-child(5) {
					width: 160px;
				}

				&:nth-child(6) {
					width: 120px;
				}
			}
		}

		tbody {
			td {
				padding: 10px;
				border-top: 1px solid $color-border;

				&:nth-child(1) {
					text-align: left;
				}

				.btn-link {
					font-size: inherit;
				}
			}

		}

		@include media-breakpoint-down(md) {
			table-layout: fixed;

			thead th:nth-child(1) {
				width: 200px;
			}
		}
	}
}

.exam-wrap-box__title {
	font-style: 25px;
	text-transform: uppercase;
	color: $color-secondary;
	text-align: center;
	margin-bottom: 30px;
}

.rankbox-table {
	table {
		width: 100%;
		text-align: center;
		font-weight: 600;
		color: $color-heading;

		thead {
			th {
				padding: 10px 8px;
				text-align: center;

				&:nth-child(1) {
					width: 90px;
				}

				&:nth-child(2) {
					text-align: left;
				}

				&:nth-child(3) {
					width: 140px;
				}

				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {
					width: 66px;
				}

				&:nth-child(7) {
					width: 120px;
				}
			}
		}

		tbody {
			tr {
				&.top-1 {
					background-color: #ffc5c5;
				}
				
				&.top-2 {
					background-color: #fffebe;

					.f-top img {
						width: 35px;
					}
				}

				&.top-3 {
					background-color: #e6fec4;

					.f-top img {
						width: 30px;
					}
				}

				&.top-1,&.top-2,&.top-3 {
					.f-btn {
						background-color: #337ab7;
					}
				}

				&.top-4-10 {
					background-color: #f9fef2;
				}
			}

			td {
				padding: 10px 8px;
				border-top: 1px solid $color-border;
			}

			.f-top {
				display: block;
				text-align: center;

				img {
					max-width: 40px;
				}
			}

			.f-name {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				text-align: left;
			}

			.f-name__avatar {
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			.f-name__name {
				font-size: 14px;
				margin: 0;
				width: calc(100% - 50px);
				padding-left: 15px;
			}

			.f-btn {
				display: inline-block;
				font-size: 12px;
				font-weight: 600;
				color: #fff;
				background-color: $color-secondary;
				border-radius: 3px;
				line-height: 1;
				padding: 5px 10px;
			}

			.f-icon {
				color: $color-secondary;

				i[class*='fa-close'] {
					color: $color-primary;
				}
			}

			.f-reward {
				color: $color-primary;

				&:focus {
					outline: none;
				}
			}
		}

		@include media-breakpoint-down(md) {
			table-layout: fixed;

			thead th:nth-child(2) {
				width: 240px;
			}
		}
	}
}

.table-historyExam {
	table {
		width: 100%;
		text-align: center;
		font-weight: 600;
		color: $color-heading;

		thead {
			th {
				padding: 10px 8px;
				text-align: center;

				&:nth-child(1) {
					width: 45px;
				}

				&:nth-child(2) {
					text-align: left;
				}

				&:nth-child(3) {
					width: 120px;
				}

				&:nth-child(4) {
					width: 70px;
				}

				&:nth-child(5) {
					width: 94px;
				}

				&:nth-child(6) {
					width: 55px;
				}

				&:nth-child(7),
				&:nth-child(8) {
					width: 120px;
				}
			}
		}

		tbody {
			td {
				padding: 10px 8px;
				border-top: 1px solid $color-border;

				&:nth-child(2) {
					text-align: left;
				}
			}

			.f-name {
				b {
					color: $color-primary;
				}
			}

			.f-top {
				display: block;

				img {
					max-width: 25px;
				}
			}

			.f-btn {
				display: inline-block;
				font-size: 12px;
				font-weight: 600;
				color: #fff;
				background-color: $color-secondary;
				border-radius: 3px;
				line-height: 1;
				padding: 5px 10px;
			}

			.f-icon {
				color: $color-secondary;

				i[class*='fa-close'] {
					color: $color-primary;
				}
			}

			.f-reward {
				color: $color-primary;

				&:focus {
					outline: none;
				}
			}
		}

		@include media-breakpoint-down(md) {
			table-layout: fixed;

			thead {
				th:nth-child(2) {
					width: 200px;
				}
			}
		}
	}
}