.section-testWhy {
	border-bottom: 1px solid #d9d9d9;
}

.section-testWhy__inner {
	padding: 50px 15px;
	height: 100%;

	&.last {
		background-color: $color-gray;
	}
}

.section-testWhy__entry {
	color: #fff;
	margin-bottom: 40px;
}

@include media-breakpoint-up(md) {
	.section-testWhy__inner {
		padding: 80px 60px;
	}

	.section-testWhy__entry {
		font-size: 15px;
	}
}

@include media-breakpoint-between(md, lg) {
	.section-testWhy__inner {
		.title__title {
			font-size: 27px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.section-testWhy__inner {
		padding: 70px 30px;
	}
}

@include media-breakpoint-up(xl) {
	.section-testWhy__inner {
		padding: 100px 60px;
	}
}

@include media-breakpoint-up(xxl) {
	.section-testWhy__inner {
		height: 100%;
		padding: 100px 140px;
	}
}

//
.section-faq-video {
	.accordionJs {
		margin-bottom: 50px;
	}

	@include media-breakpoint-up(md) {
		margin-bottom: 0;
	}
}

// 
.giacombo {
	table {
		font-size: 13px;
		width: 100%;
		table-layout: fixed;
		line-height: 1.4;
		border: 1px solid #e2e2e2;

		thead {
			th {
				font-weight: 500;

				&:nth-child(1) {
					width: 50%;
				}

				&:nth-child(2) {
					width: 50%;
				}

				@include media-breakpoint-up(md) {
					&:nth-child(1) {
						width: 60%;
					}
	
					&:nth-child(2) {
						width: 40%;
					}
				}
			}
		}

		td,
		th {
			border-top: 1px solid #e2e2e2;
			padding: 10px 10px;

			@include media-breakpoint-up(md) {
				padding: 15px;
			}

			&:last-child {
				border-left: 1px solid #e2e2e2;
			}
		}

		.sale {
			color: $color-secondary;
		}

		a:not(.btn) {
			color: #000;

			&:hover {
				color: $color-primary;
			}
		}

		tfoot {
			background-color: #f7f7f7;
		}

		.tongtien {
			font-size: 20px;
			color: $color-primary;
		}

		.btn {
			text-align: center;
			padding: 0 10px;
			max-width: 180px;
			width: 100%;
		}
	}
}

//
.combo-ralete-slide {
	.owl-nav {
		display: none;
	}
}

.detail-images-preview {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

// 
.sec-consultation {
	.consultationForm {
		position: relative;
	}

	.consultationForm__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: .4;
		}
	}

	@include media-breakpoint-down(sm) {
		padding-bottom: 0;

		.consultationForm {
			box-shadow: none;
			margin-left: -15px;
			margin-right: -15px;
		}

		.section-testWhy__inner {
			background-color: #f3f3f3;
		}
	}

	@include media-breakpoint-between(sm,md) {
		.section-testWhy__inner {
			border-bottom: 1px solid rgba(#fff, .3);
		}
	}

	@include media-breakpoint-up(md) {
		.section-testWhy__inner {
			border-left: 1px solid rgba(#fff, .3);
		}

		.consultationForm__title {
			color: #fff;
		}

		.testimonial-slide .owl-carousel {
			background-color: rgba(#fff, .8);
		}
	}

	@include media-breakpoint-up(lg) {
		.section-testWhy__inner,
		.consultationForm__content {
			padding: 50px 30px;
		}
	}

	@include media-breakpoint-up(xl) {
		.section-testWhy__inner,
		.consultationForm__content {
			padding: 50px 30px;
		}
	}

	@include media-breakpoint-up(xxl) {
		.section-testWhy__inner,
		.consultationForm__content {
			padding: 100px 70px;
		}
	}
}